n8n/workflows/chatbot-query.json
{
  "name": "chatbot-query",
  "nodes": [
    {
      "parameters": {
        "path": "chatbot-query",
        "httpMethod": "POST",
        "responseMode": "responseNode"
      },
      "id": "webhook-chatbot",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [260, 300]
    },
    {
      "parameters": {
        "jsCode": "const question = $json.body?.question || $json.question || '';\nconst lower = String(question).toLowerCase();\nlet answer = 'No encontre suficiente contexto local para responder con precision.';\nif (lower.includes('semana 3') || lower.includes('stock')) {\n  answer = 'La Semana 3 muestra demanda de 4,800 unidades frente a 2,000 de inventario. La ruptura estimada es de 2,800 unidades.';\n} else if (lower.includes('proveedor') || lower.includes('semiconductores')) {\n  answer = 'GlobalTech Solutions aparece como la opcion con mayor confianza para Semiconductores A con 98%.';\n} else if (lower.includes('flujo') || lower.includes('operativo')) {\n  answer = 'El flujo operativo mantiene 98.4% de sincronizacion de inventario y 96.5% de SLA de entregas.';\n}\nreturn [{ json: { answer } }];"
      },
      "id": "code-chatbot",
      "name": "Chatbot Rules",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [520, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{$json}}"
      },
      "id": "respond-chatbot",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [780, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Chatbot Rules", "type": "main", "index": 0 }]]
    },
    "Chatbot Rules": {
      "main": [[{ "node": "Respond", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "active": false,
  "pinData": {}
}
