n8n/workflows/generate-report.json
{
  "name": "generate-report",
  "nodes": [
    {
      "parameters": {
        "path": "generate-report",
        "httpMethod": "POST",
        "responseMode": "responseNode"
      },
      "id": "webhook-generate",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [260, 300],
      "webhookId": "50a7c444-bd29-4297-a5d2-83883f056fd6"
    },
    {
      "parameters": {
        "command": "node /workspace/scripts/generate-report.cjs --type \"{{$json.body.type || 'Operaciones'}}\""
      },
      "id": "execute-generate",
      "name": "Execute Generate Report Script",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [520, 300]
    },
    {
      "parameters": {
        "jsCode": "const raw = $json.stdout || $json.data || $json.output || Object.values($json)[0];\nreturn [{ json: JSON.parse(raw) }];"
      },
      "id": "parse-generate",
      "name": "Parse Generate JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [780, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{$json}}"
      },
      "id": "respond-generate",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1040, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Execute Generate Report Script", "type": "main", "index": 0 }]]
    },
    "Execute Generate Report Script": {
      "main": [[{ "node": "Parse Generate JSON", "type": "main", "index": 0 }]]
    },
    "Parse Generate JSON": {
      "main": [[{ "node": "Respond", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "active": false,
  "pinData": {}
}
