n8n/workflows/predictive-summary.json
{
  "name": "predictive-summary",
  "nodes": [
    {
      "parameters": {
        "path": "predictive-summary",
        "httpMethod": "GET",
        "responseMode": "responseNode"
      },
      "id": "webhook-predictive",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [260, 300]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: {\n  forecastData: [\n    { name: 'Sem 1', inventario: 4000, demanda: 2400 },\n    { name: 'Sem 2', inventario: 3000, demanda: 1398 },\n    { name: 'Sem 3', inventario: 2000, demanda: 4800 },\n    { name: 'Sem 4', inventario: 2780, demanda: 3908 }\n  ],\n  alert: { active: true, week: 'Sem 3', shortageUnits: 2800 },\n  decisionText: 'La demanda inferida para la Semana 3 supera el stock de seguridad en 2,800 unidades debido a un pico estimado.',\n  sensitivity: { projectionConfidence: 89, climateRisk: 22 }\n}}];"
      },
      "id": "code-predictive",
      "name": "Predictive Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [520, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{$json}}"
      },
      "id": "respond-predictive",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [780, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Predictive Data", "type": "main", "index": 0 }]]
    },
    "Predictive Data": {
      "main": [[{ "node": "Respond", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "active": false,
  "pinData": {}
}
