n8n/workflows/repository-search.json
{
  "name": "repository-search",
  "nodes": [
    {
      "parameters": {
        "path": "repository-search",
        "httpMethod": "GET",
        "responseMode": "responseNode"
      },
      "id": "webhook-repository",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [260, 300],
      "webhookId": "70c33463-f7b9-4ec4-826c-3b08fa5ddd00"
    },
    {
      "parameters": {
        "command": "node /workspace/scripts/search-repository.cjs --query \"{{$json.query.q || ''}}\""
      },
      "id": "execute-repository",
      "name": "Execute Repository Search Script",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [520, 300]
    },
    {
      "parameters": {
        "jsCode": "const raw = $json.stdout || $json.data || $json.output || Object.values($json)[0];\nreturn [{ json: JSON.parse(raw) }];"
      },
      "id": "parse-repository",
      "name": "Parse Repository JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [780, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{$json}}"
      },
      "id": "respond-repository",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1040, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Execute Repository Search Script", "type": "main", "index": 0 }]]
    },
    "Execute Repository Search Script": {
      "main": [[{ "node": "Parse Repository JSON", "type": "main", "index": 0 }]]
    },
    "Parse Repository JSON": {
      "main": [[{ "node": "Respond", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "active": false,
  "pinData": {}
}
